<!DOCTYPE html>
{% load static %}
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
     <title>Register</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

<h2>Register</h2>

{% for message in messages %}
<p style="color:rgb(98, 0, 255);">{{ message }}</p>
{% endfor %}

<form method="Task">
    {% csrf_token %}

    <input type="text" name="username" placeholder="Username" required><br><br>
    <input type="email" name="email" placeholder="Email" required><br><br>
    <input type="password" name="password1" placeholder="Password" required><br><br>
    <input type="password" name="password2" placeholder="Confirm Password" required><br><br>
    <input type="date" name="date_of_birth" placeholder="Date of Birth" required><br><br>
    <input type="number" name="phone_number" placeholder="Phone Number" required><br><br>

    <input type="submit" value="Register">
</form>

<a href="{% url 'task_list' %}">Cancel</a>


</body>
</html>
