<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Add New Task</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="title">title:</label>
        <input type="text" name="title" required><br><br>
        
        <label for="description">description:</label>
        <input type="text" name="description" required><br><br>
        
        <label for="completed">completed:</label>
        <input type="checkbox"  name="completed" id=""> Tick <br>
        <input type="checkbox"  name="completed" id="" checked> empty <br><br>
        
        <label for="image">Image:</label>
        <input type="file" name="image" accept="image/*"><br><br>

        <input type="submit" value="Add task">
    </form>

    <a href="{% 'task_list' %}">Add task</a>
    {% if form.errors %}
        {% endif %}
</body>
</html>