body {
    font-family: Arial, sans-serif;
    background-color: #0d4781;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: center;
}
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-bottom: 20px;
    color: #07523b;
}
form {
    background:#c6d4d6;
    padding: 25px 30px;
    width: 600px;
    height: 500px;
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    align-items: center;
    justify-content: center;
    flex-direction: center;
}
label {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: block;
    margin-top: 12px;
    font-weight: bold;
    color: #555;
}
input[type="text"] {
    width: 100%;
    padding: 8px 10px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    cursor:pointer;
}
input[type="radio"] {
    margin-left: 10px;
    margin-right: 5px;
}
input[type="submit"] {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: #007bff;
    color: rgb(47, 141, 188);
    border: none;
    border-radius: 50px;
    font-size: 15px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #113a65;
}
.container {
    width: 300px;
    margin: 60px auto;
    background: #185191;
    padding: 20px;
    border-radius: 40px;
    box-shadow: 0 4px 10px rgba(183, 186, 9, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}
form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

form input[type="text"] [type="password"] [type="email"] [type="date"] [type="number"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

form input[type="radio"] {
    margin: 5px;
}

button,
input[type="submit"] {
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover,
input[type="submit"]:hover {
    background: #0056b3;
}
ul {
    list-style: none;
    padding: 0;
}

li {
    background: #c9be2f;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icons {
    display: flex;
    align-items: center;
}
a {
    flex: 1;
    margin-left: 10px;
    text-decoration: none;

} 


.fa-pen-to-square {
    color: green;
}

.fa-trash {
    color: red;
}   
.errors {
    margin-top: 15px;
    color: rgb(255, 0, 179);
    font-size: 14px;
}
.cancel,
.create {
    display: block;
    text-align: center;
    margin-top: 15px;
}
.cancel {
    color: #555;
}
i {
    cursor: pointer;
    flex-direction: 1;
}
nav a {
  margin-right: 15px;
  text-decoration: none;
  color: blue;
}

nav a:hover {
  color: red;
}

.login-container {
    display: flex;
    position: center;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: row;
    border-radius: 20px;
    cursor: pointer;
    padding: 40px;
} 

.login-card {
    border-radius: 20px;
    position: relative;
    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(10px);
    text-align: center;
    display: flex;
    overflow: hidden;
    box-shadow: 0 0 20px #00ffcc;
    justify-content: center;
    align-items: row;
    background: linear-gradient(90deg, #ff4dff, #00ffcc );
}

.login-left h1 {
    margin-bottom: 10px;
    flex-direction: center;
}

.login-left p {
    color: #777;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    flex-direction: center;
}

.login-left label {
    display: block;
    margin-top: 15px;
    font-size: 14px;
}

.login-left input {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
}

.login-left input:focus {
    border-color: #facc15;
}

.login-left button {
    width: 100%;
    margin-top: 30px;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #facc15;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.login-left botton;:hover {
    background: #cc9f16;
}

.login-right {
    flex: 1;
    background: #ebd35b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-right h2 {
    margin-bottom: 10px;
}

.login-right p {
    color: #4e2323ff;
}

a href {
    flex-direction: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
